# IDEs
.vscode

# Dependencies
node_modules

# Temp TSC Build
temp

# Webpack Single Build
dist

# Storybook Build
storybook-static
*storybook.log

# Test Coverage
coverage

# Store Variables
scriptorium-settings.json

# Mod Folder
Scriptorium